<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./index.css" />
    <title>HOME</title>
  </head>
  <body>
    <!-- nav section -->
    <nav class="nav-class">
      <h4>AUTHOR'S HIVE</h4>
      <ul class="nav-list">
        <li><a href="/users">USERS</a></li>
        <li><a href="/user">USER</a></li>
      </ul>
    </nav>
    <main class="row container-fluid">
      <form>
        <div class="col-sm-5 text-white my-2">
          <label for="exampleInputEmail1" class="form-label">AUTHOR NAME</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="col-sm-5 text-white my-2">
          <label for="exampleInputPassword1" class="form-label">ADDRESS</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="col-sm-5 text-white my-2">
          <label for="exampleInputPassword1" class="form-label">AGE</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <!-- <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
        <button type="submit" class="btn btn-primary my-2">ADD AUTHOR</button>
      </form>
    </main>
  </body>
</html>
